html {
    height: 100%;
	display: flex;
}
body {
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding: 0;
	margin: 20px;
	flex-grow: 1;
	font-family: helvetica, sans-serif;
	color: #2f6b6c;
	background: #fff;
	transition: background-color 0.3s;
}
body.disconnected {
	background:  #ff978c;
}
body.dialling {
	background: #fff6ab;
}
body.connected {
	background: #c1ffab;
	border: 4px dashed #ccc;
	border-radius: 20px;
}
body.highlight {
	border: 4px dashed #fcabff;
	background: #e6ffde;
}

#dialog {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.connected #dialog {
	justify-content: space-between;
	transition: all 1s;
}

#info {
	margin: 16px 8px;
	display: inline-block;
}

#filepicker, #filepicker-wrap {
	display: none;
}
.connected #filepicker-wrap {
	display: inline-block;
}

#magiccode {
	margin: 16px;
	font-size: 2em;
	text-align: center;
	border-style: none;
	color: #2f6b6c;
	border-bottom: solid;
	background: none;
}
.connected #filepicker {
	font-size: 1.5em;
}

#dial {
	font-size: 1em;
}
.connected #dial {
	display: none;
}

input[type="submit"], .button {
	margin: 16px 8px;
	padding: 16px;
	border-radius: 4px;
	border: none;
	transition: all 0.2s ease 0s;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
	background: #6c6969;
	color: #ccc589;
}
input[type="submit"]:hover, .button:hover {
	letter-spacing: 1px;
	transition: all 0.2s ease 0s;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
}
input[type="submit"]:disabled, .button:disabled {
	transition: all 0.2s ease 0s;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	background: #8e8a8a;
	color: #aeac9c;
}
input[type="submit"]:disabled:hover, .button:disabled:hover {
	letter-spacing: 0px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

// https://codepen.io/amiangie/pen/RRdQAb
// https://codepen.io/indrekpaas/pen/xEmRVd
// https://rainner.github.io/wormhole-extreme/
// http://cssdeck.com/labs/fqbwi6xs
