html {
	display: flex;
	height: 100%;
}

body {
	align-items: stretch;
	background: #fff;
	color: #2f6b6c;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-family: helvetica, sans-serif;
	justify-content: center;
	margin: 10px;
	padding: 0;
	transition: background-color 0.3s;
}

body.disconnected,
body.error {
	background: #ff978c;
}

body.dialling {
	background: #fff6ab;
}

body.connected {
	background: #c1ffab;
	border-radius: 20px;
	border: 4px dashed #ccc;
}

body.highlight {
	background: #e6ffde;
	border: 4px dashed #fcabff;
}

footer {
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	font-size: small;
	justify-content: space-between;
}

footer a,
footer span {
	margin: 0 auto;
}

.connected footer {
	display: none;
}

#dialog {
	align-items: center;
	display: flex;
	flex-flow: column;
	flex: 1 0 auto;
	justify-content: center;
}

.connected #dialog {
	justify-content: space-between;
	transition: all 1s;
}

#info {
	display: inline-block;
	margin: 16px 8px;
	text-align: center;
}

#filepicker,
#filepicker-wrap {
	display: none;
}

.connected #filepicker-wrap {
	display: inline-block;
}

#transfers {
	display: none;
	list-style-type: none;
	margin: 0;
	width: 80%;
	max-width: 400px;
}

#transfers li {
	border-color: #9b9b9b;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #00000012;
	margin: 5px;
	padding: 8px;
	box-shadow: 0px 0px 4px 0px #00000012;
}

#transfers li.upload {
	list-style-type: "↑ ";
}
#transfers li.download {
	list-style-type: "↓ ";
}
#transfers li.pending {
	list-style-type: "... ";
}

.connected #transfers,
.dialling #transfers {
	display: unset;
}

#qr {
	border: 2px solid;
	display: none;
}

.dialling #qr[src] {
	display: unset;
}

#msgbox {
	background: none;
	border: none;
	border-bottom: solid;
	color: #2f6b6c;
	font-size: x-large;
	margin: 16px;
	max-width: 400px;
	text-align: center;
	width: 80%;
	display: none;
}

.connected #msgbox {
	display: unset;
}

#magiccode {
	background: none;
	border: none;
	border-bottom: solid;
	color: #2f6b6c;
	font-size: x-large;
	margin: 16px;
	max-width: 400px;
	text-align: center;
	width: 80%;
}

.error #magiccode,
.connected #magiccode {
	display: none;
}

.connected #dial,
.error #dial {
	display: none;
}

.connected #autocomplete,
.dialling #autocomplete {
	display: none;
}

#autocomplete{
	height: 1em;
	opacity: 0.5;
}

.button {
	-webkit-appearance: none;
	appearance: none;
	background: #6c6969;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 0px 6px 2px #0003;
	color: #ccc589;
	cursor: pointer;
	font-size: large;
	margin: 16px 8px;
	padding: 16px;
	transition: all 0.2s ease 0s;
}

.button:hover {
	box-shadow: 0px 0px 10px 4px #0004;
	letter-spacing: 1px;
	transition: all 0.2s ease 0s;
}

.button:disabled,
.button:disabled:hover {
	background: #8e8a8a;
	box-shadow: 0px 0px 1px 1px #0001;
	color: #aeac9c;
	cursor: unset;
	letter-spacing: unset;
	transition: all 0.2s ease 0s;
}

a {
	text-decoration: none;
}

a:link {
	border-bottom: 1px dotted;
	color: #387e8e;
}

a:visited {
	border-bottom: 1px dotted;
	color: #387e8f;
}

a:link:hover,
a:visited:hover {
	border-bottom: 1px solid;
}

@media (prefers-color-scheme: dark) {
	body,
	body.disconnected,
	body.dialling,
	body.error {
		background: #801384;
		background: radial-gradient(ellipse at bottom, #801384 0%, #170926 100%);
		background-image: url(stars.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #80d5d7;
	}

	body.connected {
		background: radial-gradient(#170926 0%, #3a0c3c 100%);
		background-image: url(wormhole.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
		border: 4px dashed #ccc;
	}

	body.highlight {
		background: radial-gradient(#801384 0%, #170926 100%);
		border: 4px dashed #fcabff;
	}

	a:link {
		color: #b58787;
	}

	a:visited {
		color: #b58788;
	}

	#magiccode {
		color: #80d5d7;
	}
}
