* {
	--purple: #321d47;
	--accent: #ffa400;
	--accent10: rgba(255, 164, 0, 0.1);
	--white: white;
	--black: black;
	--error: #ff978c;
	--connected: #c1ffab;
	--highlight: #e6ffde;
	--small-breakpoint: 700px;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-image: url("space_pattern.svg");
	background-color: var(--purple);
	color: var(--white);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	height: 100vh;

	margin: 0;
	padding: 0;

	box-shadow: inset 0 0 150px -50px var(--black);

	transition: background-color 0.3s;
}

body.disconnected,
body.error {
	background-color: var(--error);
}

body.dialling {
	background-color: var(--accent);
}

body.connected {
	background-color: var(--connected);
}

body.highlight {
	background-color: var(--highlight);
	border: 4px dashed #fcabff;
}

footer {
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	font-size: small;
	justify-content: space-between;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin: 1em 0;
}

p {
	margin-bottom: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--purple);
	padding: 2em 0;
}

.main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
}

.connected footer {
	display: none;
}

#title {
	font-size: 2em;
	margin-bottom: 0;
}

#dialog {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.connected #dialog {
	justify-content: space-between;
	transition: all 1s;
}

#info {
	margin-top: 0;
	margin: 16px 8px;
	font-size: 18px;
	padding: 8px 0;
	text-align: center;
}

#filepicker,
#filepicker-wrap {
	display: none;
}

.connected #filepicker-wrap {
	display: block;
	float: left;
}

#filepicker-div {
	max-width: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#transfers {
	display: none;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	width: 80%;
	max-width: 400px;
}

#transfers li {
	border-color: #9b9b9b;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #00000012;
	margin: 5px;
	padding: 8px;
	box-shadow: 0px 0px 4px 0px #00000012;
}

#transfers li.upload {
	list-style-type: "↑ ";
}
#transfers li.download {
	list-style-type: "↓ ";
}
#transfers li.pending {
	list-style-type: "... ";
}

.connected #transfers,
.dialling #transfers {
	display: unset;
}

#qr {
	border: 2px solid;
	width: 256px;
	height: 256px;
	display: none;
}

.dialling #qr[src] {
	display: unset;
}

#magiccode {
	color: var(--accent);
	background: var(--accent10);
	border: 2px solid var(--accent);
	border-radius: 10px;
	font-weight: bold;
	margin: 16px 8px;
	padding: 16px;
	text-align: center;
	text-transform: uppercase;
	max-width: 50%;
}

.error #magiccode {
	display: none;
}

#dial {
	text-transform: uppercase;
}

.connected #dial,
.error #dial {
	display: none;
}

.connected #autocomplete,
.dialling #autocomplete {
	display: none;
}

#autocomplete {
	height: 1em;
	opacity: 0.5;
}

#code-prompt-container {
  transition: max-height 200ms ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.button {
	-webkit-appearance: none;
	appearance: none;
	background: var(--accent);
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	color: var(--purple);
	font-weight: bold;
	cursor: pointer;
	margin: 16px 8px;
	padding: 16px;
	transition: all 0.2s ease 0s;
}

.button.secondary {
	color: var(--accent);
	background: var(--purple);
	border: 2px solid var(--accent);
}

.button:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	opacity: 0.75;
}

.button:disabled,
.button:disabled:hover {
	background: #8e8a8a;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	color: #aeac9c;
	cursor: unset;
	letter-spacing: unset;
	transition: all 0.2s ease 0s;
}

a {
	text-decoration: none;
	color: var(--accent);
}

a:link {
	border-bottom: 1px dotted;
}

a:visited {
	border-bottom: 1px dotted;
}

a:link:hover,
a:visited:hover {
	border-bottom: 1px solid;
}

/* Styling for screen widths 700px and upwards. */
@media only screen and (min-width: 700px) {
	.container {
		box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.35);
		width: min-content;
		min-width: 400px;
		height: 100%;

		margin: 0;
		padding: 0;
	}

	.connected #filepicker-wrap {
		width: min-content;
	}

	#filepicker-div {
		flex-direction: row;
	}
}
